body {
  font-family: sans-serif;
  margin: 0 auto;
  background-color: white;
}

h2, h3 {
  font-family: "仿宋", FangSong, serif;
}

#entries-container {
  margin: 0 auto;
  background-color: inherit;
  max-width: 512px;
}

#back-button {
  position: fixed;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  border-radius: 1.62em;
  height: 3.24em;
  width: 3.24em;
  box-shadow: 0 0 1em grey;
  right: 1em;
  bottom: 1em;
  font-size: 100%;
  font-weight: bold;
  line-height: 3.24em;
  text-align: center;
  text-decoration: none;
}

#back-button::-moz-focus-inner {
  border: none;
}

.entry, .title, nav {
  min-width: 256px;
}

.title {
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bold;
}

.款, .项, nav li {
  padding: 0.5em 1em;
  margin: 0;
}

.entry {
  margin: 1em 0.5em;
  border-left: 1px solid red;
  line-height: 1.62;
}

.entry a {
  background-color: Azure;
  border: 1px solid silver;
  border-radius: 0.31em;
  text-decoration: none;
  color: inherit;
  padding: 0 0.1em;
  margin: 0 0.1em;
  box-shadow: 0 0 0.1em silver;
}

#outline:target, .entry:target, .款:target, .项:target {
  background-color: #FFFFD8;
  /* radius = (line-height + padding-top + padding-bottom) / 2
     so that for blocks that consists of only one line, the
     right border is perfectly round.
   */
  border-top-right-radius: 1.31em;
  border-bottom-right-radius: 1.31em;
  /* blur-radius = (line-height - font-height) / 2
     so that the shadow wouldn't extend to the other line,
     above or below.
   */
  box-shadow: 0 0 0.31em silver;
}

nav h2, .章, .节 {
  margin-left: 8px;
  margin-right: 8px;
  line-height: 1.62em;
  text-align: center;
}

.章:target, .节:target {
  background-color: #FFFFD8;
  border-radius: 1.31em;
  box-shadow: 0 0 0.31em silver;
}

nav ul {
  padding-left: 0;
  list-style-type: none;
}
