body
:lang(en) {font-family: sans-serif;}

body {
  margin: 0 auto;
  background-color: white;
  
}

#entries-container {
  margin: 0 auto;
  background-color: inherit;
}

#back-button {
  position: fixed;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  border-radius: 1.62em;
  height: 3.24em;
  width: 3.24em;
  box-shadow: 0 0 1em grey;
  right: 1em;
  bottom: 1em;
  font-size: 100%;
  font-weight: bold;
  line-height: 3.24em;
  text-align: center;
  text-decoration: none;
}

#back-button::-moz-focus-inner {
  border: none;
}

.entry, .title, nav {
  min-width: 256px;
  background-color: inherit;
}

.entry {
  padding: 0.5em 1.62em 0.5em 1em;
  margin: 0.5em 8px 0.5em 8px;
  border-left: 1px solid red;
  line-height: 1.62;
}

nav, .章, .节 {
  margin-left: 8px;
  margin-right: 8px;
}

#outline:target, .章:target, .节:target, .entry:target, .款:target, .项:target {
  background-color: #FFFFD8;
}

nav ul {
  line-height: 1.62;
}

.title {
  font-weight: bold;
}
